.Card {
    display: flex; 
    flex-direction: column; 
    width:250px; 
    justify-content: center; 
    align-items: center;
    background-color:  hsl(209, 23%, 22%);
    margin: 20px;
    padding-top: 0;
    border-radius: 10px;
    transition: all 300ms ease;
    
}

.Card:hover {
	transform: translateY(-3%);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.9);   
}

.TextContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
    justify-content:space-around;
    padding-top: 10px;
    padding-bottom: 5px;
   
}
.Text{
    padding-top: 1px;
    color: aliceblue;
    
}



.ImageContainer img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0;
    width: 250px;
    height: 200px;
}