
.BackButton{
    position:relative;
    text-decoration:none;
    font-weight: 200;
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#ffffff;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:10px;
    padding-right:10px;
    background-color: hsl(209, 23%, 22%);
    border-style: none;
    width: 100%;
    margin: 2px;
    height: 55px;
    border-radius: 5px;
}
.BackButton:hover {
    color: aqua;
    cursor: pointer;
    background-color:hsla(208, 21%, 34%, 0.984) ;
}
.Detail {
    margin: 20px;
    width: 1100px;
    height: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    
}


.DetailComp{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
    width:100%;
    height:100%;
    background-color: hsl(207, 26%, 17%);
    background-size:cover;
    background-repeat: repeat;
   
}
.Data{
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    color: aliceblue;
    font-weight: 100;
}
.ImgContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.DataContainer{
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 400px;
    padding: 10px;
    margin-left: 10px;
    justify-content: space-around;
}
.Card {
    display: flex; 
    flex-direction: column; 
    width:250px; 
    justify-content: center; 
    align-items: center;
    background-color:  hsl(209, 23%, 22%);
    margin: 20px;
    padding-top: 0;
    border-radius: 10px;
    
    
}

.TextContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70px;
    justify-content:space-around;
    padding-top: 10px;
    padding-bottom: 5px;
   
}
.Text{
    padding-top: 1px;
    color: aliceblue;
    
}


.ImageContainer img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0;
    width: 250px;
    height: 175px;
}
.BordersContainer {
    display: flex;
    flex-direction: column;
    justify-content:flex-start; 
    
    width: 600px;
    height: 250px;
    padding: 10px;
   
}

.BorderCountriesContainer {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 200px;
    flex-wrap: wrap;
    margin-top: 0px;
}
.BorderButton{
    position:relative;
    text-decoration:none;
    width: 125px;
    font-weight: 200;
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#ffffff;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:10px;
    padding-right:10px;
    background-color: hsl(209, 23%, 22%);
    border-style: none;
    margin: 2px;
    border-radius: 5px;
}
.BorderButton:hover {
    color: aqua;
    cursor: pointer;
    background-color:hsla(208, 21%, 34%, 0.984) ;
}
.span {
    color:aqua;
    font-size: 18px;
    font-weight: 200;
    margin-top: 50px;
}
.Data2 {
    
    padding: 0;
    margin: 0;
    font-size: 18px;
    color: rgba(240, 248, 255, 0.558);
    font-weight: 100;
    font-style: italic;
    padding-left: 5px;
    align-items: center;
}
.HomeMaps {
    display: flex;
    flex-direction: column;
}