
.home{
	background-color:hsl(207, 26%, 17%);
	background-size:cover;
	margin-top: 0;
	width: 100%;
	height: 100%;
	
}
.Text{
	height:120px;
	width: 250px;
    display: flex;
	margin: 10px;
    justify-content:flex-end;
    flex-direction: column;
    align-items: center;
}

.Name{
	margin: 10px;
	text-decoration: none;
	color: black;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.paged{
	background-color: transparent/*#FFE4B5*/;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
 } 
 
.container {
	margin-top: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
	background-color: hsl(207, 26%, 17%);
	width:100%;
    height:100%;
    align-items: flex-start;
    align-content: stretch;
	
}
 

  .Option {
    background-color: hsl(207, 26%, 17%);
	/*border-color: hsl(207, 26%, 17%);*/
	color: #B3B3B3;
	font-size: 16px;
	border-style: hidden;
  }

.navbar{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	align-content: center;
	margin-top: 0px;
	
 }
 
 .inputSearch {
	margin: 5px;
	color: black !important;
	font-size: 12px;
	padding: 8px 10px;
	border-radius: 5px;
	border: 2px solid #363636;
	background-color: hsl(208, 13%, 78%);
	
  }
  

.searchBar{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
    justify-content: center;
}
.navPaged {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
    justify-content: center;
}
.navBar a{
	margin: 0 2rem;
	text-decoration: none;
	color: #B3B3B3;
}
.select {
	background-color: transparent;
	border: none;
	color: #B3B3B3;
	font-size: 16px;
}
.select:hover {
	color: aqua;
	cursor: pointer;
}
.navBtn{
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: #B3B3B3;
	visibility: hidden;
	opacity: 0;
	top: 2rem;
	right: 2rem;
}
.navBtn:hover {
	color: aqua;
}
.header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 60px;
	padding: 0 2rem;
	background-color: hsl(207, 26%, 17%);
	color: #B3B3B3;
}
@media only screen and (max-width:1024px){
	.navBtn{
		visibility: visible;
		opacity: 1;
	}
	.navBar{
		position: fixed;
		top: 0;
		left: 0;
		height: 50%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 1,5rem;
		background-color: hsl(207, 26%, 17%);
		transition: 1s;
		transform: translateY(-100vh);
		z-index: 100;
	}
	.responsive_nav{
		transform: none;
	}
	.navCloseBtn{
		position: absolute;
		
	}
	.select{
		font-size: 1.5rem;
	}
}
.dataResult {
    top: 45px;
	
	right: 30px;
    width: 200px;
    height: auto;
	max-height: 200px;
    background-color: hsl(209, 23%, 22%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
    overflow-x: auto;
    background-color: hsl(209, 23%, 22%);
    border: 2px;
    border-color: black;
    border-radius: 2px;
    font-size: 14px;
    padding: 5px;
    position: absolute;
    z-index: 5;
        
}
.dataResult::-webkit-scrollbar {
    display: none;
}
.dataItem .dataResult{
    width: 100%;
    height: 50px;
    position: absolute;
       
}
.dataItem {
    display: flex;
    flex-direction: row;
    justify-content:baseline;
}

.dataItem:hover{
    background-color: rgba(198, 190, 190, 0.595);
}
input:focus {
    outline: none;
}
.imagen {
    width: 20px;
    height: 15px;
}
.title {
    margin-left: 10px;
}