*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
.body{
    width: 100%;
    height: 100vh;
    object-fit: contain;
    
}
.content{
    text-align: center;
    
}
.content h1{
    /*padding: 100px;*/
    margin-top: 200px;
    color: #ffffff;
    font-size: 100px;
    font-weight: 600;
    transition: 0.5s;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
}
.content h1:hover{
    -webkit-text-stroke: 2px #ffffff;
    color: transparent;
}
.content button{
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
    font-size: 24px;
    border: 2px solid #ffffff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
    background-color: transparent;
}
.content button:hover{
    background-color: #ffffff;
    color: black;
    font-size: 26px;
    
}
.backvideo{
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

